build/
dist/
.vs/
*.user
*.user.*
*.pro.user
*.pro.user.*
*.qmlc
*.jsc
*.moc
*.obj
*.o
*.qrc.dep
*.qrc.release*
*.qrc.debug*
*.qrc
Makefile*
CMakeFiles/
CMakeCache.txt
cmake-build-*/
*.pdb
*.ipdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.qmake.stash
*.ninja
.cache/


